<div class="container">
  <div class="part">
    <h1 class="mat-header">Status</h1>

    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="stats">
        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef> Key </th>
          <td mat-cell *matCellDef="let stat"> {{stat.key}} </td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Value </th>
          <td mat-cell *matCellDef="let stat"> {{stat.value}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator -->
      </div>
  </div>

  <div class="part">
    <input #firmwareInput hidden="true" type="file" onclick="this.value=null" (change)="firmwareInputChange($event)" accept=".izf"/>
    <button mat-raised-button (click)="firmwareInput.click()" color="accent">
      <fa-icon [icon]="faCogs"></fa-icon>
      Upload firmware&hellip;
    </button>

    <mat-progress-spinner [value]="progress"></mat-progress-spinner>
  </div>
</div>
