.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-icon {
  padding: 0 14px;
  transition-duration: 0.4s;
}

.toolbar-icon:hover {
  color: #039BE5;
}

.toolbar-button {
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
}
