.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-icon {
  transition-duration: 0.4s;
  /* border: 1px solid #fff; */
}

fa-icon {
  /*Change this to adjust the icon to match Material Icons*/
  position: relative;
  top: -2px;
}

.toolbar-icon:hover {
  color: #039BE5;
}

.toolbar-button {
  padding: 0 14px;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
}
