<p>
  <mat-toolbar color="primary">
    <button routerLink="/" mat-fab-button class="toolbar-button">
      <mat-icon class="toolbar-icon">android</mat-icon> <!-- TODO logo here -->
    </button>
    <span>ZX Interface Z</span><!-- TODO Use Spectrum font here -->

    <span class="toolbar-spacer"></span>

    <button routerLink="/" mat-fab-button matTooltip="Home" class="toolbar-button">
      <mat-icon class="toolbar-icon">house</mat-icon>
    </button>
    <a href="old_index.html#sdcard" mat-fab-button matTooltip="SD Card" class="toolbar-button">
      <mat-icon class="toolbar-icon">sd_storage</mat-icon>
    </a>
    <button routerLink="/status" mat-fab-button matTooltip="Status" class="toolbar-button">
      <mat-icon class="toolbar-icon">assessment</mat-icon>
    </button>
    <button routerLink="/wifi" mat-fab-button matTooltip="Wifi" class="toolbar-button">
      <mat-icon class="toolbar-icon">wifi</mat-icon>
    </button>
    <button routerLink="/devices" mat-fab-button matTooltip="Devices" class="toolbar-button">
      <mat-icon class="toolbar-icon">usb</mat-icon>
    </button>
    <button routerLink="/about" mat-fab-button matTooltip="About" class="toolbar-button">
      <mat-icon class="toolbar-icon">announcement</mat-icon>
    </button>

    <span class="toolbar-spacer"></span>

    <a href="https://github.com/alvieboy/ZXInterfaceZ" mat-fab-button class="toolbar-button">
      <mat-icon class="toolbar-icon">code</mat-icon>
    </a>
  </mat-toolbar>
</p>

<div style="padding: 0 14px">
  <router-outlet></router-outlet>
</div>
