<p>
  <mat-toolbar color="primary">
    <button routerLink="/" matTooltip="Home" class="toolbar-button">
      <img src="/InterfaceZ-ico.svg" style="width:60px"/>
    </button>
    <span>ZX Interface Z</span><!-- TODO Use Spectrum font here -->

    <span class="toolbar-spacer"></span>

    <a href="index_old.html#sdcard" mat-icon-button matTooltip="SD Card" class="toolbar-button">
      <mat-icon class="toolbar-icon">sd_storage</mat-icon>
    </a>
    <button routerLink="/wifi" mat-icon-button matTooltip="Wifi" class="toolbar-button">
      <mat-icon class="toolbar-icon">wifi</mat-icon>
    </button>
    <button routerLink="/devices" mat-icon-button matTooltip="Devices" class="toolbar-button">
      <mat-icon class="toolbar-icon">usb</mat-icon>
    </button>
    <button routerLink="/status" mat-icon-button matTooltip="Status" class="toolbar-button">
      <mat-icon class="toolbar-icon">
        <fa-icon [icon]="faInfoCircle"></fa-icon>
      </mat-icon>
    </button>

    <span class="toolbar-spacer"></span>

    <a href="https://github.com/alvieboy/ZXInterfaceZ" mat-icon-button matTooltip="Source code on Github" class="toolbar-button">
      <mat-icon class="toolbar-icon">
        <fa-icon [icon]="faGithub"></fa-icon>
      </mat-icon>
    </a>
  </mat-toolbar>
</p>

<div style="padding: 0 14px">
  <router-outlet></router-outlet>
</div>
